pipe: "HTMLFetcher|HTMLToXML|XQuery|Replace#ext"
url: "https://finance.google.com/finance?q=%5B%28exchange+%3D%3D+%22EPA%22%29%5D&restype=company&noIL=1&num=50000"
XQueryConfig:
  trim: true
  query: "//table[contains(@class, 'company_results')]//tr[contains(@class, 'snippet')]/td[contains(@class, 'symbol')]//a"
  subQueries:
    symbol: "/text()"
"ReplaceConfig#ext":
  property: "symbol"
  pattern: "$"
  newSubstr: ".PA"
StdOutConfig:
  indent: 0
