pipe: "SerialPipe"

SerialPipeConfig:
  pipe:
    pipe: "SelectQuote|LinRegHist|MathFilter#coef|MathFilter#var"
    selector: {}
    sort: [ date: "desc" ]
    limit: 1
    "MathFilterConfig#coef":
      # 10% growth for the year
      expr: "linReg[1]*365 > 10"
    "MathFilterConfig#var":
      # less than 10% under linear regression value
      expr: "var < -10"
