
pipe: 'Date|Aggregate|Duplicate#sym|Duplicate#file|Replace#file|Mustache|Null'
DateConfig:
  property: "date"
  inFormat: "X"
  outFormat: "YYYY-MM-DD"
"DuplicateConfig#sym":
  property: "items[0].symbol"
  newName: "symbol"
"DuplicateConfig#file":
  property: "symbol"
  newName: "MustacheConfig.outFile"
"ReplaceConfig#file":
  property: "MustacheConfig.outFile"
  pattern: "$"
  newSubstr: ".html"
MustacheConfig:
  template: '''
<!doctype html>
<html>
  <head>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-ui.min.js"></script>
    <style>
      html, body, #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    </head>
  <body>
    <div id="container"></div>
    <script>
anychart.onDocumentReady(function() {

  // set the data
  table = anychart.data.table('date');
  var data = [
    {{#items}}
      { date: "{{date}}", close: {{close}}, linReg: {{linRegVal}},
        var: {{var}} },
    {{/items}}
    {}
  ];
  data.pop();
  for (var k in data) {
    if (data[k].var <= -10) {
      data[k].varFill = 'green';
    }
    else if (data[k].var >= 10) {
      data[k].varFill = 'red';
    }
  }
  table.addData(data);

  // chart type
  chart = anychart.stock(true);
  var plot = chart.plot(0);

  plot.xGrid().enabled(true);
  plot.yGrid().enabled(true);
  plot.xMinorGrid().enabled(true);
  plot.yMinorGrid().enabled(true);

  var extraYScale = anychart.scales.linear();
  var extraYAxis = plot.yAxis(1);
  extraYAxis.orientation("right");
  extraYAxis.scale(extraYScale);

  // set the series
  var series = plot.line(table.mapAs({x: 'date', value: 'close'}));
  series.name("{{symbol}}");

  series = plot.line(table.mapAs({x: 'date', value: 'linReg'}));
  series.name("linear regression");

  series = plot.column(table.mapAs({x: 'date', value: 'var', fill: 'varFill'}));
  series.yScale(extraYScale);
  series.name('variation');

  chart.title('{{symbol}} analysis');
  chart.container('container');

  chart.draw();
});
    </script>
  </body>
</html>
'''
