pipe: "SerialPipe"

SerialPipeConfig:
  pipe:
    pipe: "AltPipe#reg|WaitFor#add|Add|MathEval#linRegVal|MathEval#var"

    "AltPipeConfig#reg":
      pipe: "Rename#sym|Rename#sel|Add#sort|SelectQuote|Aggregate|MathEval#linReg|Remove"
    "RenameConfig#sel":
      property: "date"
      newName: "selector.date.$lte"
    "AddConfig#sort":
      property: "sort[0].date"
      value: "asc"

    "MathEvalConfig#linReg":
      expr: "linReg(map(items, f(i) = [ i.date / 86400, i.close ]))"
      property: "AddConfig.value"
    RemoveConfig:
      property: "items"


    "WaitForConfig#add":
      property: "AddConfig.value"
    AddConfig:
      property: "linReg"

    "MathEvalConfig#linRegVal":
      expr: "(date / 86400) * linReg[1] + linReg[2]"
      property: "linRegVal"

    "MathEvalConfig#var":
      expr: "(close - linRegVal) / close * 100"
      property: "var"
